.body_backgorund {
     background-image: url("gIF1212.gif");
     background-position: center;
     background-size: cover;
   }
   h1
   {
       color: red; 
       font-size: 40px;
   }
   
   #myCanvas
   {
       border-width:10px;
       background-color: white; 
       border-style:ridge;
   }
   span
   {
       font-size: 20px;
   }
   #color{
  border: 10px solid red;
  height: 50px;
 width: 200px;
 }
 button{
     border: 5px solid black;
     border-radius: 30%;
 }
 span{
 
        border: 5px solid black; 
     color: white;
     background-color: blueviolet;
 }